body {
  color: #7D7C7D;
  line-height: 1.5;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */

header {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

/* NAV */
nav {
  padding-right: 20px;
  text-transform: uppercase;
  text-decoration: none; 
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* CONTENT */

div.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 950
}

div.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

table tr td {
  vertical-align: top;
  max-width: 400px;
}

dl dt {
  font-size: 20;
  font-weight: bold;
  color: #463E3F;
}

em {
  color: #4E387E;
}

h1 {
  color: #55B9AE;
}

h3 {
  text-transform: uppercase;
}

div.content a {
  color: #E0282B;
}

div.divider {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.notice {
  font-weight: bold;
}

p a {
  color: #E0282B;
  font-weight: bold;
}

blockquote {
  color: #55B9AE;
}

blockquote cite {
  color: #7D7C7D;
  font-size: 13;
  padding: 20; 
}

content ul li {
  color: #7D7C7D;
  list-style: circle;
}


/* FOOTER */
footer {
  font-size: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 550;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

div iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* APPLICATION */
p.programs {
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;
}

/* EVENTS */
h3.event-title {
  margin-bottom: 0px;
}

p.event-locale {
  font-weight: bold;
}

p.event-description {
  display: block;
  max-width: 600px;
}

