/* Custom Stylesheet */
.lead-title {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.material-icons {
    vertical-align: bottom;
    padding-right: 10px;
}

.top-cta {
    padding-top: 2%;
}

.offer {
    padding-top: 0;
    padding-bottom: 2%;
}

.btn-offer {
    width: -webkit-fill-available;
}

.hero-side {
    background-image: url('https://cloud.google.com/_static/images/cloud/home/icon_hero_gear.png');
    height: 350px;
    background-repeat: no-repeat;
    background-position: right;
}

.nav-content {
    margin: 15px 20px 15px 0;
}

.promos {
    padding-top: 3%;
    padding-bottom: 3%;
}

.promo-title {
    padding-top: 20px;
    padding-bottom: 46px;
}

.btn-floating i {
    text-align: end;
    vertical-align: initial;
    padding-right: 8px;
}

.middle-banner {
    padding: 50px 20px 20px;
}

nav .input-field {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 20px;
}

nav .brand-logo {
    left:1%;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left:22%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .container.top-cta {
        padding-top: 20%;
    }
    .offer-promo .col.s12, .promos .col.s12 {
        padding-top: 10%;
    }
    .offer-promo .col.s12 .cards {
        padding-top: 2%;
    }
    .btn-floating i {
        text-align: end;
        vertical-align: initial;
        padding-right: 9px;
    }
    .promo-title {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
