/*
CSS for ECE Outreach 

html {
    overflow: scroll;
    }
	*/
h1 {
	margin: 0;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	left: 450px;
	font-style: normal;
	font-family: Palatino Linotype;
	color: #980f06;
	top: 20px
	white-space:nowrap;
	
}

p{
	position: absolute;
    left: 450px; 
    top: 520px;
	width: 63%;
	font-family: Palatino Linotype;
	font-size: 15px;
}
/* Background */

body{
	background-color: rgba(250, 236, 207, .4);
	font-family: Palatino Linotype;
	font-size: 12px;
	color: #000;
}
#background{
	
	width: 400px;
	height: 100%;
	position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}
.vr {
    width:3px;
    background-color:#980f06;
    position:absolute;
    top:0;
    bottom:0;
    left:400px;
	opaque:.8;
}

#logo{

	position: absolute; 
	top: 30px; 
	left: 40px;
}


#schlag{
	position: absolute; 
	top: 100px; 
	left: 450px;
	width:396px;
	height:600px;
}
/* Menu */
#menu {
	position:absolute;
	left: 25px;
	top: 150px;
	height: 36px;
	margin: 0;
	padding: 0;
	
}

#menu ul{
	margin: 0;
	list-style: none;
	border: #000;	
	
}

#menu li {
	display: block;
	
}

#menu a {
	display: block;
	width: 300px;
	height: 28px;
	background-color: rgba(239, 201, 139, 0.6);
	padding-top: 8px;
	text-decoration: none;
	text-align: center;
	font-family: Palatino Linotype;
	font-size: 21;
	font-weight: bold;
	color: #000;
	
	
}

#menu a:hover, #menu .current_page_item a {
	
	background-color: rgba(162, 15, 6, 0.8);
	text-decoration: none;
}

